.navContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  padding: 30px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(150, 104, 193);
}

.containerCategories {
  display: flex;
  list-style: none;
  gap: 30px;
}
.name {
  font-weight: lighter;
}
.navContainer a img {
  max-width: 10vh;
}
.containerCategories a {
  text-decoration: none;
  letter-spacing: 1px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
