.container {
  max-width: 500px;
  margin: 10px auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 200%;
  text-align: center;
}

h2,
h3 {
  text-decoration: none;
  text-align: center;
  color: rgb(78, 37, 116);
  margin-bottom: 20px;
  font-weight: 400;
}
.productos {
  max-width: 300px;
  margin: 10px auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  text-align: center;
}
span {
  color: black;
  text-decoration: underline;
}
